style.css

body{ 
  background-color: blanchedalmond;
  }
  .head {
    height: 100px;
    width: 450px;
    background-color: yellow;
    color: blue;
    border-radius:15px;
    font-size: larger;
    font-weight: 700;
  }